# ===== NODE MODULES =====
node_modules/
frontend/node_modules/
backend/node_modules/

# ===== ENV FILES =====
.env
*.env
.env.*
*.env.*
frontend/.env
frontend/*.env
backend/.env
backend/*.env

# ===== PACKAGE FILES =====
package.json
package-lock.json


# ===== LOGS =====
*.log

# ===== TEMP / CACHE =====
__pycache__/
*.pyc
.DS_Store
dist/
build/
